/node_modules
/public/build
/vendor
.env
.phpunit.result.cache
/storage/*.bak
/storage/*.sqlite
/storage/*.sqlite-journal
/storage/debugbar/
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/
/storage/app/private/
/storage/app/uploads/
.DS_Store
npm-debug.log
yarn-error.log
.idea/
.vscode/
